/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}
#root{
  width: 100%;
  min-height: 100vh;
}
header,footer{
  width: 100%;
  background-color: cornflowerblue;
  color: white;
  text-align: center;
  font-size: 35px;
  padding: 10px;
  font-weight: bold;
}
footer{
  position: absolute;
  bottom: 0;
  font-weight: 400;
  font-size: 25px;
}
main{
  width: 100%;
  padding: 25px 35px;
}
.searchForm,
.addForm{
  width: 100%;
  border-bottom: 1px solid rgb(219, 214, 214);
  padding: 10px 35px;
}
.addForm{
  display: flex;
  align-items: center;
  gap: 13px;
}
.addForm button{
  border: none;
}
.addForm svg{
  width: 51px;
  height: 51px;
  background-color: black;
  color: white;
  padding: 7px;
  border-radius: 5px;
  cursor: pointer;
}
.addForm svg:hover,
.addForm svg:focus{
  background-color: gray;
}
.searchItem,
.addItem{
  width: 100%;
  padding: 10px 25px;
  border-radius: 5px;
  font-size: 23px;
  border: 1px solid black;
  outline: none;
  cursor: pointer;
}
main ul{
  display: flex;
  flex-direction: column;
  gap: 15px;
}
main ul li{
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  text-align: center;
  background-color: lightgray;
  padding: 15px 25px;
  border-radius: 5px;
}
main ul li input[type="checkbox"]{
  width: 35px;
  height: 35px;
  cursor: pointer;
}
main ul li label{
  font-size: 23px;
  flex: 1;
  text-align: left;
  margin: 0 30px;
}
main svg{
  width: 32px;
  height: 32px;
  cursor: pointer;
  transition: width 1s, height 1s;
}
main svg:hover{
  width: 34px;
  height: 34px;
  color: red;
}
main svg:focus{
  outline: none;
}
